<#include FP>
<@html>
<#assign ctx=req.getContextPath()>
<link rel="stylesheet" href="${ctx}/admui/plugins/jquery-strength/jquery-strength.css">
<link rel="stylesheet" href="${ctx}/admui/plugins/formvalidation/formValidation.css">
<title>用户修改密码</title>
<div class="animation-slide-left tab-message active" id="accountContent">
	<div class="col-sm-6 col-sm-offset-3 margin-vertical-35">
		<form id="accountMsgForm" novalidate="novalidate">
			<div class="form-group">
				<h5>修改密码</h5>
			</div>
			<div class="form-group">
				<input type="password" id="password" name="password" class="form-control"
					placeholder="请输入原来的密码" autocomplete="off">
			</div>
			<div class="form-group">
				<div class="strength-container">
					<input type="password" name="newPwd" id="newPwd"
						class="form-control strength-input" placeholder="请输入新密码"
						autocomplete="off" data-plugin="strength">
					<div class="strength-meter">
						<div class="strength-score"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<input type="password" name="confirm" class="form-control"
					placeholder="请再次输入新密码" autocomplete="off">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">确认修改</button>
			</div>
		</form>
	</div>
</div>
<script>
$("#accountMsgForm").formValidation($.po('formValidation', {
    fields: {
    	password: {
            validators: {
                notEmpty: {
                    message: '原密码不能为空'
                },
                remote: {
                	//远程验证
                	type: 'GET',
                	url: '${ctx}/user/validPassword?id=${Session.user.id}'+$("#password").val(),
                	message: '原密码错误！',
                	delay: 1000
                }
            }
        },
        newPwd: {
            validators: {
                notEmpty: {
                    enabled: true,
                    message: '新密码不能为空'
                },
                stringLength: {
                    min: 6,
                    max: 30,
                    message: '密码必须大于6且小于30个字符'
                }
            }
        },
        confirm: {
            validators: {
                notEmpty: {
                    enabled: true,
                    message: '确认密码不能为空'
                },
                identical: {
                    field: 'newPwd',
                    message: '确认密码必须和密码保持一致'
                }
            }
        }
    }
})).on('success.form.fv', function (e) {
    e.preventDefault();
    //用户修改密码
    $.ajax({
        url: $.ctx + 'user/updatePassword',
        type: 'POST',
        data: {
        	id: '${Session.user.id}',
        	password: $("#newPwd").val()
        },
        dataType: 'JSON',
        success: function (data) {
            if (data.success) {
                toastr.success(data.msg);
            } else {
                toastr.error(data.msg);
            }
        },
        error: function () {
            toastr.error('服务器异常，请稍后再试！');
        }
    });
});
</script>
</@html>