{% extends "layout/default.html" %}

{% block header %}
<title>首页</title>
{% end %}

{% block body %}
    <div class="page animation-fade page-index">
        <div class="page-content">
            <div class="media account-info">
                <div class="media-left">
                    <div class="avatar avatar-online">
                        <img src="{{static_url('admui/images/avatar.svg')}}">
                        <i class="avatar avatar-busy"></i>
                    </div>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                         欢迎您，{{user.USER_CODE}}
                        <small>{{user.USER_NAME}}</small>
                    </h4>
                    <p>
                        <i class="icon icon-color wb-bell" aria-hidden="true"></i>
                                                      这是您第{{int(user.LOGIN_TOTAL)+1}}次登录，上次登录日期：{{user.LAST_LOGIN_TIME}}，详细信息请查看
                        <a data-pjax href="/system/account?from=log" target="_blank">日志</a>，如果不是您本人登录，请及时
                        <a data-pjax href="/system/account?from=password" target="_blank">修改密码</a> 。
                    </p>
                </div>
                <div class="media-right">
                    <a href="/system/account" data-pjax target="_blank" class="btn btn-outline btn-success btn-outline btn-sm">账户管理</a>
                </div>
            </div>
        </div>
    </div>
{% end %}