<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- 移动设备 viewport -->
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
<meta name="renderer" content="webkit"><!-- 360浏览器默认使用Webkit内核 -->
<meta http-equiv="Cache-Control" content="no-siteapp"><!-- 禁止百度SiteAPP转码 -->
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="zhx">
<meta name="msapplication-TileColor" content="#62a8ea">

<!-- 样式 -->
<link rel="stylesheet" href="{{static_url('admui/themes/classic/global/css/bootstarp.css')}}">
<link rel="stylesheet" href="{{static_url('admui/themes/classic/base/css/site.css')}}" id="siteStyle">

<!-- 图标 CSS-->
<link rel="stylesheet" href="{{static_url('admui/fonts/font-awesome/font-awesome.css')}}">
<link rel="stylesheet" href="{{static_url('admui/fonts/web-icons/web-icons.css')}}">

<!-- 插件 CSS -->
<link rel="stylesheet" href="{{static_url('admui/plugins/animsition/animsition.css')}}">
<link rel="stylesheet" href="{{static_url('admui/plugins/toastr/toastr.css')}}">

<!-- 插件 -->
<script src="{{static_url('admui/plugins/jquery/jquery.min.js')}}"></script>
<script src="{{static_url('admui/plugins/bootstrap/bootstrap.min.js')}}"></script>
<script src="{{static_url('admui/plugins/modernizr/modernizr.min.js')}}"></script>
<script src="{{static_url('admui/plugins/breakpoints/breakpoints.min.js')}}"></script>
<script src="{{static_url('admui/plugins/artTemplate/template.min.js')}}"></script>
<script src="{{static_url('admui/plugins/toastr/toastr.min.js')}}"></script>
<script src="{{static_url('admui/plugins/bootbox/bootbox.min.js')}}"></script>

<!-- 核心  -->
<script src="{{static_url('admui/themes/classic/global/js/core.js')}}"></script>
<script src="{{static_url('admui/themes/classic/base/js/site.js')}}"></script>
<script src="{{static_url('admui/themes/classic/global/js/configs/site-configs.js')}}"></script>
<script src="{{static_url('admui/themes/classic/global/js/components.js')}}"></script>

<!-- 布局 -->
<script src="{{static_url('admui/themes/classic/base/js/sections/menu.js')}}"></script>
<script src="{{static_url('admui/themes/classic/base/js/sections/media-menu.js')}}"></script>
<script src="{{static_url('admui/themes/classic/base/js/sections/content-tabs.js')}}"></script>

<!-- 插件 -->
<script src="{{static_url('admui/plugins/jquery-pjax/jquery.pjax.min.js')}}"></script>
<script src="{{static_url('admui/themes/classic/global/js/plugins/responsive-tabs.js')}}"></script>
<script src="{{static_url('admui/plugins/ashoverscroll/jquery-asHoverScroll.min.js')}}"></script>
<script src="{{static_url('admui/plugins/slimscroll/jquery.slimscroll.min.js')}}"></script>
<script src="{{static_url('admui/plugins/screenfull/screenfull.min.js')}}"></script>

<!-- dataTables -->
<script src="{{static_url('admui/plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{static_url('admui/plugins/datatables-bootstrap/dataTables.bootstrap.min.js')}}"></script>
<script src="{{static_url('admui/plugins/datatables-responsive/dataTables.responsive.min.js')}}"></script>
<script src="{{static_url('admui/plugins/highlight/highlight.pack.min.js')}}"></script>
<script src="{{static_url('admui/themes/classic/base/js/app.js')}}"></script>
<script src="{{static_url('admui/js/examples/tables/data-tables/common.js')}}"></script>

<!-- select -->
<script src="{{static_url('admui/plugins/bootstrap-select/bootstrap-select.min.js')}}"></script>
<!-- datetimepicker -->
<script src="{{static_url('admui/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js')}}"></script>
<script src="{{static_url('admui/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js')}}"></script>

<script src="{{static_url('admui/plugins/switchery/switchery.min.js')}}"></script>

<script src="{{static_url('admui/plugins/formvalidation/formValidation.min.js')}}"></script>
<script src="{{static_url('admui/plugins/formvalidation/framework/bootstrap.min.js')}}"></script>

<script>
    // 设置template的语法开始和结束标签
    template.config('openTag', "{@")
    template.config('closeTag', "@}")
</script>
